/* Body */
body {
    background-color: #ddd;
    color: #222;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

/* Heading Level 1 */
h1 {
    margin: 0;
    padding: 0;
}

/* Hyperlink inside h1 */
h1 a {
    background-color: #ccc;
    background-image: linear-gradient(#ccc, #999);
    border-bottom: 1px solid #666;
    color: #222;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    display: block;
    text-shadow: 0px 1px 1px #fff;
}

/* Navigation list */
ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

/* Navigation links */
ul li a {
    background-color: #fff;
    border: 1px solid #999999;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: -1px;
    padding: 12px 10px;
    display: block;
}

/* Rounded corners for first and last links */
ul li:first-child a {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
ul li:last-child a {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Section and Aside */
section, aside {
    padding: 10px;
}

/* Footer hidden */
footer {
    display: none;
}
